# Set up Flask debugging
#FLASK_DEBUG=1

# Configure a specific directory for temporary files
# This can be used for debugging uploaded or converted files
# You can mount this directory to a volume for easier access
#APP_TEMP_DIR=/tmp/app_temp_dir

# Don't delete files after conversion
#APP_DELETE_FILES=false
