# Set up Flask debugging and other settings
#FLASK_DEBUG=1
#FLASK_MAX_CONTENT_LENGTH=20971520

# Configure a specific directory for temporary files
# This can be used for debugging uploaded or converted files
# You can mount this directory to a volume for easier access
#APP_TEMP_DIR=/app/tmp

# Don't delete files after conversion
#APP_DELETE_FILES=false

# Allow only these output formats
#APP_ALLOWED_FORMATS=pdf,docx,odt,rtf,txt,html,epub

# Configure Gunicorn general settings
#GUNICORN_WORKERS=4
#GUNICORN_THREADS=2
#GUNICORN_TIMEOUT=120
