<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Libreoffice document conversion</title>
</head>

<body>
    <h1>Convert document</h1>
    <p>
        Find valid formats in
        <a href="https://help.libreoffice.org/latest/en-US/text/shared/guide/convertfilters.html">
            the list of supported formats
        </a>
    </p>
    <form method="post" enctype="multipart/form-data">
        <label for="file">Select file:</label>
        <input type="file" name="file" id="file"><br>

        <label for="format_to">Select target format:</label>
        <select name="format_to" id="format_to">
        {% for format in formats %}
            <option value="{{ format }}">{{ format }}</option>
        {% endfor %}
        </select><br>

        <input type="submit" value="Convert">
    </form>
</body>

</html>
